<div>
    <div nz-row nzJustify="center">
      <div nz-col nzSpan="4">
        <div>
          <nz-avatar [nzSize]="120" nzIcon="user" nzSrc="https://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20190621/d940a528fbfb4ec8a443215ba4e8b888.jpeg"></nz-avatar>
            <!-- <nz-avatar [nzSize]="120" nzIcon="user" nzSrc="https://avatars.githubusercontent.com/u/48900845?s=400&u=51247b78d01a2a902efe0de4d73780fde0027dd9&v=4"></nz-avatar> -->
        </div>
      </div>
    </div>




      <div nz-row nzJustify="center">
        <div nz-col nzSpan="20">
        <nz-table #basicTable [nzShowPagination]=false [nzData]="user">
          <thead>
            <tr>
              <th>用户名</th>
              <th>已使用</th>
              <th>总容量</th>
              <th>会员等级</th>
              <th>会员截至日期</th>
              <th>邮箱</th>
              <th>注册时间</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.user_name }}</td>
              <td>{{ data.current_url_num }}</td>
              <td>{{ data.max }}</td>
              <td>{{ data.vip_name }}</td>
              <td>{{ data.vip_datetime | date}}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.created_datetime | date}}</td>
              <!-- <td>
                <a>Action 一 {{ data.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
              </td> -->
            </tr>
          </tbody>
        </nz-table>
      </div>
      </div>








    
</div>













